    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download threemoji</h2>
                    <p>You can download Threemoji for free on the Google Play Store.</p>
                    <a href="https://play.google.com/store/apps/details?id=com.threemoji.threemoji" class="btn btn-default btn-lg">Get Threemoji</a>
                </div>
            </div>
        </div>
    </section>
