    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img src="img/icon.png" height="20%" width="20%">
                        <br><br>
                        <img src="img/logo.png" height="80%" width="80%">
                        <p class="intro-text">An anonymous chat app<br>where emojis are your identity.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>